@model Usuario
@{
    ViewData["Title"] = "Home Page";
}
<style>
    .text-center {
        height: 0px;
        margin-left: 150px;
    }
</style>

<div class="text-center">
    <h1><p> SISTEMA DE GERENCIAMENTO DE DEMANDAS</p></h1>
    <p>Superitendencia de Manutenção e Desenvolvimento de Sistemas.</p>
</div>
